
                  {{getFieldDisplayTest(options.selectedSchoolYear.text, '-not selected-', options.quickSearchStudent.SchoolYearVerbose)}} / 
                   {{getFieldDisplayTest(options.selectedSchool.text, '-not selected-', options.quickSearchStudent.SchoolName)}} / 
                    {{getFieldDisplayTest(options.selectedGrade.text, '-not selected-', options.quickSearchStudent.GradeName)}} /
                   {{getFieldDisplayTest(options.selectedTeacher.text, '-not selected-', options.quickSearchStudent.StaffName)}} /
                 {{getFieldDisplayTest(options.selectedSection.text, '-not selected-', options.quickSearchStudent.SectionName)}} /
               {{getFieldDisplayTest(options.selectedSectionStudent.text, '-not selected-', options.quickSearchStudent.LastName + ', ' + options.quickSearchStudent.FirstName)}}
