
<div style="min-height:350px;">
    <spinner name="tableSpinner">
        <div style="position:absolute;width:100%;height:100%;background-color:rgba(100, 100, 100, 0.7);z-index:100;" class="hidden-print">
            <div class="sk-cube-grid">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
        </div>
    </spinner>
    <div class="col-md-12" ng-if="settings.studentLoaded">
        
        <h1>Student Dashboard for {{::settings.selectedStudent.text}}</h1>

        <div ng-if="settings.tab == 'dt' || !settings.tab">
            <h2><i class="fa fa-user"></i> Student Details</h2>
            <!-- Photo -->
            <div ng-show="fullStudent.ImageUrl != '' && fullStudent.ImageUrl != null">
                <img class="studentPhoto" ng-src="{{::fullStudent.ImageUrl}}" alt="{{::studentResult.StudentName}}" />
            </div>
            <div ng-if="fullStudent.ImageUrl == '' || fullStudent.ImageUrl == null">
                <img class="studentPhoto" src="/assets/img/placeholder_person.jpg" />
            </div>
            <fieldset>
                <legend>Details</legend>
                <div class="row">
                    <label style="font-weight:bold;margin-bottom:0px" class="col-sm-6 control-label studentLabel">First Name</label>
                    <div class="col-md-4 studentText">
                        {{::fullStudent.FirstName}}
                    </div>
                </div>
                <div class="row">
                    <label style="font-weight:bold;margin-bottom:0px" class="col-sm-6 control-label studentLabel">Middle Name</label>
                    <div class="col-md-6 studentText">
                        {{::fullStudent.MiddleName}}
                    </div>
                </div>
                <div class="row">
                    <label style="font-weight:bold;margin-bottom:0px" class="col-sm-6 control-label studentLabel">Last Name</label>
                    <div class="col-md-6 studentText">
                        {{::fullStudent.LastName}}
                    </div>
                </div>
                <div class="row">
                    <label style="font-weight:bold;margin-bottom:0px" class="col-sm-6 control-label studentLabel">Student ID</label>
                    <div class="col-md-6 studentText">
                        {{::fullStudent.StudentIdentifier}}
                    </div>
                </div>
                <div class="row">
                    <label style="font-weight:bold;margin-bottom:0px" class="col-sm-6 control-label studentLabel">Date of Birth</label>
                    <div class="col-md-6 studentText">
                        {{::fullStudent.DOB}}
                    </div>
                </div>
                <div class="row">
                    <label style="font-weight:bold;margin-bottom:0px" class="col-sm-6 control-label studentLabel">Graduation Year</label>
                    <div class="col-md-6 studentText">
                        {{::fullStudent.GraduationYear}}
                    </div>
                </div>
                <div class="row">
                    <label style="font-weight:bold;margin-bottom:0px" class="col-sm-6 control-label studentLabel">Enrollment Year</label>
                    <div class="col-md-6 studentText">{{::fullStudent.EnrollmentYear}}</div>
                </div>

            </fieldset>
            <fieldset>
                <legend>Student Attributes</legend>
                <div class="row" ng-repeat="attribute in allAttributes.AllAttributes">
                    <label style="font-weight:bold;margin-bottom:0px" class="col-sm-6 control-label studentLabel">{{::attribute.AttributeName}}</label>
                    <div class="col-md-6 studentText">
                        {{::getAttributeValue(fullStudent.StudentAttributes[attribute.Id], attribute)}}
                        <!--<select class="form-control" ng-model="fullStudent.StudentAttributes[attribute.Id]" ng-options="v.LookupValueId as v.LookupValue for v in attribute.LookupValues">
                        <option value="">-select-</option>
                    </select>-->
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Education Services</legend>
                <div class="row">
                    <label style="font-weight:bold;margin-bottom:0px" class="col-sm-6 control-label studentLabel">Services</label>
                    <div class="col-md-6 studentText">
                        <div ng-repeat="label in fullStudent.SpecialEdLabels">
                            {{::label.text}}
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="breaker"></div>
        </div>
        <div ng-if="settings.tab == 'lg' || !settings.tab">
        <h2><i class="fa fa-line-chart"></i> Class Line Graphs</h2>
        
                <div>
                    <div ng-if="ClassLineGraphDataManagers.length == 0">
                        <uib-alert type="info"><b>Note:</b> Student has not taken any benchmarked assessments</uib-alert>
                    </div>
                    <div ng-repeat="fieldMgr in ClassLineGraphDataManagers" style="margin-bottom:50px;">
                        <h4>{{::settings.selectedStudent.text}}</h4>
                        <div class="col-md-12">
                            <div>
                                <highchart id="chart1" config="fieldMgr.chartConfig"></highchart>
                            </div>
                            <div>
                                <line-graph-detail data-data-manager="fieldMgr"></line-graph-detail>
                            </div>
                        </div>
                        <div style="clear:both;" />
                        <div class="col-md-12 breaker" ng-if="$index != ClassLineGraphDataManagers.length - 1 || !settings.tab">&nbsp;</div>
                    </div>
                </div>
        </div>
        
        <div ng-if="settings.tab == 'os' || !settings.tab">
            <h2><i class="fa fa-folder-open"></i> Student Cumulative Folder</h2>
            <h4>{{::settings.selectedStudent.text}}</h4>
            <div class="table-responsive">
                <ns-observation-summary-student selected-student-id="settings.selectedStudent.id"></ns-observation-summary-student>
            </div>
            <div style="margin-bottom:25px;">
                <div>
                    <table>
                        <tbody>
                            <tr>
                                <td style="padding-right:5px;">
                                    <span class="obsPerfect" style="border:1px solid black;display:inline-block;height:20px;width:25px;"></span>
                                </td>
                                <td style="padding-right:10px">
                                    <strong>Perfect Score</strong>
                                </td>
                                <td style="padding-right:5px;">
                                    <span class="obsBlue" style="border:1px solid black;display:inline-block;height:20px;width:25px;"></span>
                                </td>
                                <td style="padding-right:10px">
                                    <strong>Exceeds Expectations</strong>
                                </td>
                                <td style="padding-right:5px;">
                                    <span class="obsGreen" style="border:1px solid black;display:inline-block;height:20px;width:25px;"></span>
                                </td>
                                <td style="padding-right:10px">
                                    <strong>Meets Expectations</strong>
                                </td>
                                <td style="padding-right:5px;">
                                    <span class="obsYellow" style="border:1px solid black;display:inline-block;height:20px;width:25px;"></span>
                                </td>
                                <td style="padding-right:10px">
                                    <strong>Approaches Expectations</strong>
                                </td>
                                <td style="padding-right:5px;">
                                    <span class="obsRed" style="border:1px solid black;display:inline-block;height:20px;width:25px;"></span>
                                </td>
                                <td style="padding-right:10px">
                                    <strong>Does Not Meet Expectations</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div ng-if="settings.tab == 'intv' || !settings.tab">
            <h2><i class="fa fa-bolt"></i> Interventions</h2>
            <h4>{{::settings.selectedStudent.text}}</h4>
                <div ng-if="studentDataManager.Interventions.length  == 0">
                    <uib-alert type="info"><b>Note:</b> Student has not received any interventions</uib-alert>
                </div>
                <div ng-if="studentDataManager.Interventions.length > 0">
                    <student-interventions data-data-manager="studentDataManager"></student-interventions>
                </div>
            </div>
        
        <div ng-if="settings.tab == 'sn' || !settings.tab">
            <h2><i class="fa fa-paperclip"></i> Student Notes</h2>
            <h4>{{::settings.selectedStudent.text}}</h4>
            <div ng-if="studentNotesManager.Notes.length == 0">
                <uib-alert type="info"><b>Note:</b> Student does not have any notes</uib-alert>
            </div>
            <div>
                <ul class="timeline">
                    <li class="timeline-midnightblue">
                        <div ng-show="settings.selectedStudent.newNoteEditMode == true" class="timeline-body">
                            <div class="timeline-header">
                                <span class="date">{{::moment() | nsLongDateFormatWithTime}}</span>
                            </div>
                            <div class="timeline-footer">
                                <div style="margin-top:10px;">
                                    <a href="" ng-click="saveStudentNote(-1, settings.selectedStudent.NewNoteHtml, settings.selectedStudent.id)" class="btn btn-primary btn-sm pull-left"><i class="fa fa-save"></i>  Save New Note</a>
                                    <a style="margin-left:5px;" href="" ng-click="settings.selectedStudent.newNoteEditMode = false;" class="btn btn-default btn-sm pull-left"><i class="fa fa-times-circle"></i>  Cancel</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-primary" ng-repeat="note in studentNotesManager.Notes">
                        <div class="timeline-icon"><i class="fa fa-user"></i></div>
                        <div class="timeline-body">
                            <div class="timeline-header">
                                <span class="date">{{::note.NoteDate | nsLongDateFormatWithTime}}</span>
                                <span class="author" ng-if="note.StaffID == currentUser.Id"><a ng-if="note.IsEditing != true" style="margin-right:10px;" class="btn btn-xs btn-default" href="" ng-click="note.IsEditing = true"><i class="fa fa-pencil-square-o"></i> edit</a>  <a style="margin-right:10px;" class="btn btn-xs btn-danger" href="" ng-if="note.IsEditing != true" ng-click="deleteStudentNote(note.Id)"><i class="fa fa-times"></i> delete</a> <a ng-if="note.IsEditing == true" class="btn btn-xs btn-success" href="" ng-click="saveStudentNote(note.Id, note.Note, settings.selectedStudent.id)"><i class="fa fa-save"></i> Save Note</a> <a ng-if="note.IsEditing == true" class="btn btn-xs btn-default" href="" ng-click="note.IsEditing = false"><i class="fa fa-times-circle"></i> cancel</a></span>

                            </div>
                            <div class="timeline-content">
                                <h3>{{::note.Staff.FirstName}} {{::note.Staff.LastName}} said:</h3>
                                <p>
                                    <div inlineedit="note.IsEditing == true" readonly="{{note.StaffID != currentUser.Id && note.IsEditing != true}}" ckeditor="options" ng-model="note.Note"></div>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            </div>

        <div ng-if="settings.tab == 'tmn' || !settings.tab">
            <h2><i class="fa fa-file-text-o"></i> Team Meeting Notes</h2>
            <h4>{{::settings.selectedStudent.text}}</h4>
            <div ng-if="studentTMNotesManager.Meetings.length == 0">
                <uib-alert type="info"><b>Note:</b> Student has not been involved in any team meetings</uib-alert>
            </div>
            <div ng-repeat="meeting in studentTMNotesManager.Meetings">
                <h4 class="timeline-month"><span>{{::meeting.Title}}</span>  <small>({{::meeting.MeetingTime | nsLongDateFormatWithTime}})</small></h4>
                <ul class="timeline">
                    <li class="timeline-midnightblue">
                        <div ng-show="meeting.newNoteEditMode == true" class="timeline-body">
                            <div class="timeline-header">
                                <span class="date">{{::moment() | nsLongDateFormatWithTime}}</span>
                            </div>
                            <div class="timeline-footer">
                                <div style="margin-top:10px;">
                                    <a href="" ng-click="saveNote(-1, meeting.NewNoteHtml, meeting.Id, settings.selectedStudent.id, meeting)" class="btn btn-primary btn-sm pull-left"><i class="fa fa-save"></i>  Save New Note</a>
                                    <a style="margin-left:5px;" href="" ng-click="meeting.newNoteEditMode = false;" class="btn btn-default btn-sm pull-left"><i class="fa fa-times-circle"></i>  Cancel</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-primary" ng-repeat="note in meeting.TeamMeetingStudentNotes">
                        <div class="timeline-icon"><i class="fa fa-user"></i></div>
                        <div class="timeline-body">
                            <div class="timeline-header">
                                <span class="date">{{::note.NoteDate | nsLongDateFormatWithTime}}</span>
                                <span class="author" ng-if="note.StaffID == currentUser.Id"><a ng-if="note.IsEditing != true" style="margin-right:10px;" class="btn btn-xs btn-default" href="" ng-click="note.IsEditing = true"><i class="fa fa-pencil-square-o"></i> edit</a>  <a style="margin-right:10px;" class="btn btn-xs btn-danger" href="" ng-if="note.IsEditing != true" ng-click="deleteNote(note.ID)"><i class="fa fa-times"></i> delete</a> <a ng-if="note.IsEditing == true" class="btn btn-xs btn-success" href="" ng-click="saveNote(note.ID, note.Note, meeting.Id, settings.selectedStudent.id)"><i class="fa fa-save"></i> Save Note</a> <a ng-if="note.IsEditing == true" class="btn btn-xs btn-default" href="" ng-click="note.IsEditing = false"><i class="fa fa-times-circle"></i> cancel</a></span>

                            </div>
                            <div class="timeline-content">
                                <h3>{{::note.Staff.FirstName}} {{::note.Staff.LastName}} said:</h3>
                                <p>
                                    <div inlineedit="note.IsEditing == true" readonly="{{note.StaffID != currentUser.Id && note.IsEditing != true}}" ckeditor="options" ng-model="note.Note"></div>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<style>
    .interventionCell {
        border: 3px dotted blue !important;
    }

    .verticalTdDate {
            text-align:center;
    white-space:nowrap;
    transform: rotate(90deg);
        /*-webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform-origin:bottom left;
        transform: rotate(90deg);
        white-space: nowrap;
        display: block;
        bottom: 0;
        width: 10px;
        height: 20px;
        font-size: 12px;
        font-weight: bold;*/
    }

    .verticalTdDate div {
         margin:0 -999px;/* virtually reduce space needed on width to very little */
    display:inline-block;
        /*height: 80px;
        padding-top: 8px;
        padding-left: 8px;
        vertical-align: top;
        position:relative;
        top: -35px;
        left: 3px;*/
    }
        .verticalTdDate div:before {
            content:'';
    width:0;
    padding-top:110%;
    /* takes width as reference, + 10% for faking some extra padding */
    display:inline-block;
    vertical-align:middle;
        }

    .table-lowPadding > thead > tr > th, .table-lowPadding > tbody > tr > td {
        padding: 3px 3px !important;
    }

    .leftDoubleBorder {
        border-left: 3px solid black !important;
    }

    .rightDoubleBorder {
        border-right: 3px solid black !important;
    }

    .nsWhiteCell {
        background-color: white !important;
    }

    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border: 1px solid black;
    }

    .table-bordered {
        border: 1px solid black;
    }
</style>
<!--<style>
    .timeline-primary div.timeline-body{
        background-color:none  !important;
        border-color: none  !important;
    }
    .timeline > li div.timeline-body {
        color:black !important;
    }
    .timeline > li div.timeline-header {
    color: black !important;
}
</style>-->
<style>
    .studentLabel {
        text-align: right;
        font-size: 14px;
        padding: 3px 10px 3px 3px;
    }

    .studentText {
        font-size: 14px;
        padding: 3px;
    }

    .studentPhoto {
        max-width: 200px;
        border-radius: 20%;
        margin: auto;
        display: block;
    }
</style>