<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>North Star Educational Tools</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="North Star Educational Tools">
    <meta name="author" content="Shannon Hill">
    <link rel="icon" type="image/png" href="favicon.png" />
    <meta name="google-site-verification" content="DItbY9IJ7Bn8Ip_BzfIhznwZms2zl3t6d99zPkmFrok" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href='assets/demo/variations/default.css' rel='stylesheet' type='text/css' media='all' id='styleswitcher'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries. Placeholdr.js enables the placeholder attribute -->
    <!--[if lt IE 9]>
      <link rel="stylesheet" href="assets/css/ie8.css">
      <script type="text/javascript" src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
      <script type="text/javascript" src="assets/plugins/charts-flot/excanvas.min.js"></script>
      <script type='text/javascript' src='assets/plugins/misc/placeholdr.js'></script>
    <![endif]-->
    <!--[if IE 9]>
      <script type="text/javascript" src="assets/plugins/misc/media.match.min.js"></script>
    <![endif]-->
    <!-- The following CSS are included as plugins and can be removed if unused-->
    
    <link rel="stylesheet" href="assets/css/fdc7ed7f.vendor.css"/>

    <link rel="stylesheet" href="assets/css/673c6fbe.northstar.css"/>
        <link rel="stylesheet" href="styles/55e2ced3.nsstyles.css">
    <link rel="stylesheet" media="screen" href="styles/b87aadbf.nsscreenstyles.css">
    <link rel="stylesheet" media="print" href="styles/8e9382e5.nsprintstyles.css">
    <style type="text/css">
        [ng-cloak] {
            display: none;
        }

        .topNegative1000 {
            top: -1000px !important;
        }

        .topZero {
            top: 0 !important;
        }

        .mainview-animation {
            position: relative;
        }

            .mainview-animation.ng-enter {
                -webkit-transition: .3s linear all; /* Safari/Chrome */
                -moz-transition: .3s linear all; /* Firefox */
                -o-transition: .3s linear all; /* Opera */
                transition: .3s linear all; /* IE10+ and Future Browsers */
            }

            .mainview-animation.ng-enter {
                opacity: 0;
            }

                .mainview-animation.ng-enter.ng-enter-active {
                    opacity: 1;
                }

        .navbar.navbar-default.ng-hide {
            display: none;
        }

        .fc-grid .fc-day-number {
            padding: 5px 6px;
        }
    </style>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-78387617-1', 'auto');
      //ga('send', 'pageview');
    </script>
</head>
<body class=""
      ng-app="themesApp"
      ng-controller="MainController as mc"
      ng-class="{
              'static-header': !style_fixedHeader,
              'focusedform': style_fullscreen,
              'layout-horizontal': style_layoutHorizontal,
              'fixed-layout': style_layoutBoxed,
              'collapse-leftbar': style_leftbarCollapsed && !style_leftbarShown,
              'show-rightbar': style_rightbarCollapsed,
              'show-leftbar': style_leftbarShown
            }"
      ng-click="hideSearchBar();hideHeaderBar();"
      ng-cloak>
    <!--<div id="headerbar" ng-class="{topNegative1000: style_headerBarHidden, topZero: !style_headerBarHidden}">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-2">
                    <a href="#" class="shortcut-tiles tiles-brown">
                        <div class="tiles-body">
                            <div class="pull-left"><i class="fa fa-pencil"></i></div>
                        </div>
                        <div class="tiles-footer">
                            Create Post
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-2">
                    <a href="#" class="shortcut-tiles tiles-grape">
                        <div class="tiles-body">
                            <div class="pull-left"><i class="fa fa-group"></i></div>
                            <div class="pull-right"><span class="badge">2</span></div>
                        </div>
                        <div class="tiles-footer">
                            Contacts
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-2">
                    <a href="#" class="shortcut-tiles tiles-primary">
                        <div class="tiles-body">
                            <div class="pull-left"><i class="fa fa-envelope-o"></i></div>
                            <div class="pull-right"><span class="badge">10</span></div>
                        </div>
                        <div class="tiles-footer">
                            Messages
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-2">
                    <a href="#" class="shortcut-tiles tiles-inverse">
                        <div class="tiles-body">
                            <div class="pull-left"><i class="fa fa-camera"></i></div>
                            <div class="pull-right"><span class="badge">3</span></div>
                        </div>
                        <div class="tiles-footer">
                            Gallery
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-2">
                    <a href="#" class="shortcut-tiles tiles-midnightblue">
                        <div class="tiles-body">
                            <div class="pull-left"><i class="fa fa-cog"></i></div>
                        </div>
                        <div class="tiles-footer">
                            Settings
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-2">
                    <a href="#" class="shortcut-tiles tiles-orange">
                        <div class="tiles-body">
                            <div class="pull-left"><i class="fa fa-wrench"></i></div>
                        </div>
                        <div class="tiles-footer">
                            Plugins
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>-->
    <header class="navbar navbar-inverse" ng-class="{'navbar-fixed-top': style_fixedHeader, 'navbar-static-top': !style_fixedHeader}" role="banner">
        <a id="leftmenu-trigger" tooltip-placement="right" tooltip="Toggle Sidebar" ng-click="toggleLeftBar()"></a>
        <!--<a id="rightmenu-trigger" tooltip-placement="left" tooltip="Toggle Infobar" ng-click="toggleRightBar()"></a>-->
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="#/">North Star <span class="navbar-brand-faded">Educational Tools</span></a>
        </div>
        <ul class="nav navbar-nav pull-right toolbar">
            <li class="dropdown" uib-dropdown ng-show="isLoggedIn">
                <a href="#" class="dropdown-toggle username" uib-dropdown-toggle ng-controller="StaffInfoController as uvm"><nobr><span>{{uvm.userInfo.currentUser.FirstName}} {{uvm.userInfo.currentUser.LastName}} ({{uvm.userInfo.currentUser.DistrictName}}) <i class="fa fa-bars" style="padding-left:5px"></i></span></nobr></a>
                <ul class="dropdown-menu userinfo arrow" uib-dropdown-menu>
                    <li class="userlinks">
                        <ul class="dropdown-menu">
                            <li><a href="#/user-profile">Edit User Profile <i class="pull-right fa fa-fw fa-pencil"></i></a></li>
                            <li><a href="" ng-click="showDisplaySettingsModal()">Change Display Settings <i class="pull-right fa fa-fw fa-television"></i></a></li>
                            <li><a href="#/user-password">Change Password <i class="pull-right fa fa-fw fa-lock"></i></a></li>
                            <li><a href="#/user-username">Change Username <i class="pull-right fa fa-fw fa-user"></i></a></li>
                            <li class="divider"></li>
                            <li><a href="#/user-assessments">Manage Available Assessments <i class="pull-right fa fa-fw fa-bars"></i></a></li>
                            <!--<li><a href="#">Manage Your Calendar <i class="pull-right fa fa-fw fa-bars"></i></a></li>-->
                            <li><a href="#/user-contact-district-admin">Contact District Administrator <i class="pull-right fa fa-fw fa-envelope"></i></a></li>
                            <li><a href="#/user-contact-school-admin">Contact School Administrator <i class="pull-right fa fa-fw fa-envelope"></i></a></li>
                            <li class="divider"></li>
                            <li><a href="" class="text-right" ng-click="logOut()">Sign Out</a></li>
                            <li>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li style="display:none" ng-click="showHeaderBar($event)">
                <a href="" id="headerbardropdown"><span><i class="fa fa-level-down"></i></span></a>
            </li>
            <li style="display:none" ng-controller="ColorPickerController">                
                <link rel="stylesheet" type="text/css" ng-href="assets/demo/variations/{{headerStylesheet}}">
                <link rel="stylesheet" type="text/css" ng-href="assets/demo/variations/{{sidebarStylesheet}}">
            </li>
        </ul>
    </header>
    <nav class="navbar navbar-default ng-hide" role="navigation" ng-show="style_layoutHorizontal">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <i class="fa fa-reorder"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse" ng-class="{'large-icons-nav': style_layoutHorizontalLargeIcons}" id="horizontal-navbar">
            <ul ng-controller="NavigationController" id="top-nav" class="nav navbar-nav">
                <li ng-repeat="item in menu.items"
                    ng-if="!item.hideOnHorizontal"
                    ng-class="{ hasChild: (item.children!==undefined && item.children.length > 0),
                                    active: item.selected,
                                      open: (item.children!==undefined && item.children.length > 0) && item.open }"
                    static-include data-source="templates/nav_renderer_horizontal.html"></li>
            </ul>
        </div>
    </nav>
    <div id="page-container" class="clearfix">
        <!-- BEGIN SIDEBAR -->
        <nav id="page-leftbar" role="navigation">
            <div>
                <ul ng-controller="NavigationController" id="sidebar" sticky-scroll="40">
                    <!--<li id="search" ng-class="{'keep-open':style_showSearchCollapsed}">
                        <a href=""
                           ng-class="{blockImportant:style_leftbarCollapsed && !style_showSearchCollapsed}"
                           ng-click="showSearchBar($event)"><i class="fa fa-search opacity-control"></i></a>
                        <form ng-show="!style_leftbarCollapsed || style_showSearchCollapsed"
                              ng-style="{display: style_showSearchCollapsed? 'block':''}"
                              ng-click="$event.stopPropagation()"
                              ng-submit="goToSearch()">
                            <input type="text" ng-model="searchQuery" class="search-query" placeholder="Search..."
                                   ng-style="{width: style_showSearchCollapsed? 'auto':''}">
                            <button type="submit" ng-click="goToSearch()"><i class="fa fa-search"></i></button>
                        </form>
                    </li>-->
                    <li ng-repeat="item in menu.items"
                        ng-class="{ hasChild: (item.children!==undefined && item.children.length > 0),
                                    active: item.selected,
                                      open: (item.children!==undefined && item.children.length > 0) && item.open }"
                        static-include data-source="templates/nav_renderer.html"></li>
                </ul>
            </div>
            <!-- END SIDEBAR MENU -->
        </nav>
        <!-- BEGIN RIGHTBAR -->
        <!-- END RIGHTBAR -->
        <div id="page-content" class="clearfix" fit-height>
            <div id="wrap" ng-view="" class="mainview-animation">
            </div> <!--wrap -->
        </div> <!-- page-content -->
        <footer role="contentinfo">
            <div class="clearfix">
                <ul class="list-unstyled list-inline pull-left">
                    <li>North Star Educational Tools &copy; {{::currentYear}}</li>
                </ul>
                <button class="pull-right btn btn-default btn-xs hidden-print" back-to-top style="padding: 1px 10px;"><i class="fa fa-angle-up"></i></button>
            </div>
        </footer>
    </div> <!-- page-container -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!--<script type='text/javascript' src='http://maps.google.com/maps/api/js?sensor=true'></script>-->
    <script type="text/ng-template" id="commentsModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Comments</h3>
        </div>
        <div class="modal-body" style="overflow:auto;height:600px;">
            <span ng-bind-html="settings.comments | safe_html"></span>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="cancel()"><i class="fa fa-times-circle"></i> Close</button>
        </div>
    </script>
    <script type="text/ng-template" id="genericModal.html">
        <div class="modal-header">
            <h3 class="modal-title">{{heading}}</h3>
        </div>
        <div class="modal-body" style="overflow:auto;height:600px;">
            <span ng-bind-html="body | safe_html"></span>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="cancel()"><i class="fa fa-times-circle"></i> Close</button>
        </div>
    </script>
    <script type="text/ng-template" id="studentDashboardViewer.html">
        <div class="modal-header">
            <h3 class="modal-title">Dashboard for {{::settings.selectedStudent.text}}</h3>
        </div>
        <div class="modal-body" style="overflow-y:scroll;overflow-x:auto;max-height: calc(100% - 120px)" ng-if="settings.selectedStudent">
            <student-dashboard student="settings.selectedStudent"></student-dashboard>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="cancel()"><i class="fa fa-times"></i> Close</button>
        </div>
    </script>
    <script type="text/ng-template" id="interventionDashboardViewer.html">
        <div class="modal-header">
            <h3 class="modal-title">Intervention Dashboard for {{::settings.selectedInterventionGroup.text}}</h3>
        </div>
        <div class="modal-body" style="overflow-y:scroll;overflow-x:auto;max-height: calc(100% - 120px)" ng-if="settings.selectedInterventionStudent">
            <intervention-dashboard intervention-group="settings.selectedInterventionGroup"
                                    intervention-student="settings.selectedInterventionStudent"
                                    intervention-stint="settings.selectedStint"
                                    school-year="settings.selectedSchoolYear"></intervention-dashboard>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="cancel()"><i class="fa fa-times"></i> Close</button>
        </div>
    </script>
    <script type="text/ng-template" id="assessmentFieldViewer.html">
        <div class="modal-header">
            <h3 class="modal-title">Change Field Visibility for {{::selectedAssessment.text}}</h3>
        </div>
        <div class="modal-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Field Name
                        </th>
                        <th>
                            Visible?
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="field in selectedFields">
                        <td>{{field.text}}</td>
                        <td><switch class="green" ng-model="field.Visible" ng-change="updateSelectedField(field)"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="saveFields()"><i class="fa fa-save"></i> Save</button> <button class="btn btn-default" ng-click="cancel()"><i class="fa fa-times-circle"></i> Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="commentsViewer.html">
        <div class="modal-header">
            <h3 class="modal-title">Comments</h3>
        </div>
        <div class="modal-body" style="height:500px;overflow-y:auto;overflow-x:auto">
            <span ng-bind-html="result.StringValue | safe_html"></span>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="cancel()"><i class="fa fa-times"></i> Close</button>
        </div>
    </script> 

    <script type="text/ng-template" id="changeDisplaySettings.html">
        <div class="modal-header">
            <h3 class="modal-title">Display All Comment Bubbles Inline</h3>
        </div>
        <div class="modal-body" style="height:250px;overflow-y:auto;overflow-x:auto">
            <uib-alert type="warning"><b>Warning!</b> Turning off comment bubbles will cause most comment bubbles (not those that display data for multiple benchmark dates) to display their contents in their current location.  This may cause unexpected results.</uib-alert>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Setting
                        </th>
                        <th>
                            Enable
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Inline Comments (remove comment bubbles)</td>
                        <td><switch class="green" ng-change="toggleCommentBubbles()" ng-model="userSettings.turnOffInlineComments"></switch></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="cancel()"><i class="fa fa-times"></i> Close</button>
        </div>
    </script>

    <script src="scripts/27907edb.vendor.js"></script>

    <script type='text/javascript' src='assets/plugins/form-ckeditor/ckeditor.js'></script>
    <script type='text/javascript' src='assets/plugins/form-ckeditor/lang/en.js'></script>
  
    <script src="scripts/task/Tasks.js"></script>
    <script src="scripts/ui-components/Ratings.js"></script>
    <script src="scripts/ui-components/Modals.js"></script>
    <script src="scripts/ui-components/Tiles.js"></script>
    <script src="scripts/ui-components/Alerts.js"></script>
    <script src="scripts/ui-components/Sliders.js"></script>
    <script src="scripts/ui-components/Progressbars.js"></script>
    <script src="scripts/ui-components/Paginations.js"></script>
    <script src="scripts/ui-components/Carousel.js"></script>
    <script src="scripts/ui-components/Tabs.js"></script>
    <script src="scripts/ui-components/Nestable.js"></script>
    <script src="scripts/ui-elements/Tables.js"></script>
    <script src="scripts/ui-elements/Panels.js"></script>
    <script src="scripts/form/Components.js"></script>
    <script src="scripts/form/Directives.js"></script>
    <script src="scripts/form/Validation.js"></script>
    <script src="scripts/form/Inline.js"></script>
    <script src="scripts/form/FileUploads.js"></script>
    <script src="scripts/form/ImageCrop.js"></script>
    <script src="scripts/table/ngGrid.js"></script>
    <script src="scripts/table/Editable.js"></script>
    <script src="scripts/chart/Flot.js"></script>
    <script src="scripts/chart/SVG.js"></script>
    <script src="scripts/chart/Canvas.js"></script>
    <script src="scripts/chart/Inline.js"></script>
    <script src="scripts/layout/Horizontal.js"></script>
    <script src="scripts/layout/Boxed.js"></script>
    <script src="scripts/controllers/Notifications.js"></script>
    <script src="scripts/controllers/Messages.js"></script>
    <script src="scripts/controllers/ColorPicker.js"></script>
    <script src="scripts/controllers/Dashboard.js"></script>
    <script src="scripts/gallery/Gallery.js"></script>
    <script src="scripts/pages/Controllers.js"></script>
    <script src="scripts/calendar/Calendar.js"></script>
    

    <!-- prochtml:remove:test -->
    <script src="scripts/7029a515.customns.js"></script>
    <!-- /prochtml -->

    <script src="scripts/6b0af2f1.app.js"></script>

</body>
</html>
