<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
	<appSettings>
		<!-- This will turn on detailed errors when deployed to remote servers -->
		<!-- This setting is not recommended for production -->
		<add key="K_DETAILED_ERRORS" value="true" />
		<!-- <add key="kpm-package-path" value="..\approot\packages" /> -->
		<add key="bootstrapper-version" value="1.0.0-beta3" />
		<add key="kre-version" value="1.0.0-beta3" />
		<add key="kre-clr" value="CLR" />
		<!-- <add key="kre-app-base" value="..\approot\src\InfernalThings" /> -->
	</appSettings>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<rewrite>
			<rules>
				<!--Redirect selected traffic to index -->
				<rule name="Index Rule" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_URI}" matchType="Pattern" pattern="^/api/" negate="true" />
						<add input="{REQUEST_URI}" matchType="Pattern" pattern="^/partials/" negate="true" />
					</conditions>
					<action type="Rewrite" url="/index.html" />
				</rule>
			</rules>
		</rewrite>
		<staticContent>
			<!--<mimeMap fileExtension=".less" mimeType="text/css" />-->
		</staticContent>
    <handlers>
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%DNX_PATH%" arguments="%DNX_ARGS%" stdoutLogEnabled="false" startupTimeLimit="3600"/>
	</system.webServer>
</configuration>