 #page-content {
        margin-left: 0px !important;
    }

    #nsFilterOptions {
        display: none;
    }

    #nsNoSelectionsMessage {
        display: none;
    }

    #wrap {
        overflow: visible;
    }
    body {
        padding-top: 0px;
        width: 100%;
        margin: 0;
    }
    #page-heading h1 {
        padding: 15px 0px 0px 20px;
    }
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 2px 1px;
    }
    footer {
        display: none;
    }
    #wrap>.container-fluid {
    padding: 0px;
}
    .badge {
        padding: 2px 4px;
    }
    #page-content {
        min-height: initial !important;
    }
    #page-leftbar {
        width: 0px !important;
        display: none !important;
    }

      body.show-leftbar #page-content{margin-left:0px !important;}

        * {
    -webkit-print-color-adjust: exact; 
    print-color-adjust: exact;
  } 