/* Sidebar Gray Variation */
#page-container,
#page-leftbar,
.focusedform {
  background-color: #1E418E;
}
#sidebar > li.active > a {
  background-color: #4697ce;
}
#sidebar > li.active > a,
body.collapse-leftbar #sidebar > li.active:hover > a {
  color: #ffffff;
}
#sidebar a:hover,
body.collapse-leftbar #sidebar > li:hover,
body.collapse-leftbar #sidebar > li.keep-open {
  background-color: rgba(255, 255, 255, 0.4);
}
#sidebar a:hover,
#sidebar a:hover i,
body.collapse-leftbar #sidebar > li:hover > a,
body.collapse-leftbar #sidebar > li:hover > a i,
body.collapse-leftbar #sidebar > li.keep-open > a,
body.collapse-leftbar #sidebar > li.keep-open > a i {
  color: #3d414a;
}
#sidebar ul,
#sidebar ul li a {
  background-color: #173068;
}
#sidebar li a,
#sidebar ul li.active:not(.open) > a {
  color: #ffffff;
}
#sidebar ul li a {
  color: #ffffff;
}
#search form .search-query {
  background: #173068;
  color: #ffffff;
}
#search form .search-query:-moz-placeholder {
  color: rgba(101, 107, 121, 0.5);
}
#search form .search-query::-moz-placeholder {
  color: rgba(101, 107, 121, 0.5);
}
#search form .search-query:-ms-input-placeholder {
  color: rgba(101, 107, 121, 0.5);
}
#search form .search-query::-webkit-input-placeholder {
  color: rgba(101, 107, 121, 0.5);
}
#search form button[type="submit"] i {
  color: #ffffff;
}
body.collapse-leftbar #search.keep-open > a {
  background: #173068 !important;
}
body.collapse-leftbar #search.keep-open > a:hover {
  background: #ffffff;
}
#sidebar .divider {
  background-color: #173068;
}
#sidebar .divider:hover {
  background-color: #173068;
}
#sidebar ul li.active a {
  color: #ffffff !important;
}
#horizontal-navbar {
  background-color: #1E418E;
}
#horizontal-navbar .navbar-nav > .open > a {
  background: rgba(255, 255, 255, 0.4);
  color: #3d414a;
}
#horizontal-navbar .navbar-nav ul {
  background-color: #173068;
}
#horizontal-navbar .navbar-nav ul li a {
  color: #ffffff;
}
#horizontal-navbar .navbar-nav ul li a:hover {
  background: rgba(255, 255, 255, 0.4);
  color: #3d414a;
}
#horizontal-navbar .navbar-nav li a {
  color: #ffffff;
}
#horizontal-navbar .navbar-nav li a i {
  color: #ffffff;
}
#horizontal-navbar .navbar-nav li.active > a,
#horizontal-navbar .navbar-nav li.active > a i,
#horizontal-navbar .navbar-nav li.active > a:hover,
#horizontal-navbar .navbar-nav li.active > a:hover i {
  background-color: #4697ce;
  color: #ffffff;
}
#horizontal-navbar .navbar-nav li a:hover,
#horizontal-navbar .navbar-nav li a:hover i {
  background: rgba(255, 255, 255, 0.4);
  color: #3d414a;
}
nav.navbar {
  background: #1E418E;
}
nav.navbar .navbar-toggle,
nav.navbar .navbar-toggle:hover,
nav.navbar .navbar-toggle:focus {
  color: #ffffff;
}
@media (min-width: 768px) {
  #horizontal-navbar.large-icons-nav .navbar-nav li ul {
    background-color: #173068;
  }
  #horizontal-navbar.large-icons-nav .navbar-nav li ul li a {
    color: #ffffff;
  }
  #horizontal-navbar.large-icons-nav .navbar-nav li ul li a:hover {
    background: rgba(255, 255, 255, 0.4);
    color: #3d414a;
  }
}
