<div id="page-heading">
	<ol class="breadcrumb">
		<li><a href="#/">Assessement</a></li>
		<li class="active">Add/Edit Assessment</li>
	</ol>
	<h1>Add/Modify Assessment</h1>
	<div class="options">
		<div class="btn-toolbar">
			<div class="btn-group" dropdown>
				<button type="button" class="btn btn-default dropdown-toggle">
					Export as <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li class="divider"></li>
					<li><a href="#">Separated link</a></li>
				</ul>
			</div>
			<a href="#" class="btn btn-default hidden-xs"><i class="fa fa-cog"></i></a>
		</div>
	</div>
</div>
<div class="container-fluid">

	<div class="row">
		<div class="col-md-12">
			<tabset tab-theme="midnightblue" tab-position="top">
				<tab heading="Settings">
					<h3>Assessment Configuration</h3>
					<form class="form-horizontal ng-pristine ng-valid">
						<div class="form-group">
							<label for="focusedinput" class="col-sm-3 control-label">Focused Input</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="focusedinput" placeholder="Default Input">
							</div>
							<div class="col-sm-3">
								<p class="help-block">Your help text!</p>
							</div>
						</div>
						<div class="form-group">
							<label for="disabledinput" class="col-sm-3 control-label">Disabled Input</label>
							<div class="col-sm-6">
								<input disabled="" type="text" class="form-control" id="disabledinput" placeholder="Disabled Input">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-sm-3 control-label">Password</label>
							<div class="col-sm-6">
								<input type="password" class="form-control" id="inputPassword" placeholder="Password">
							</div>
						</div>
						<div class="form-group">
							<label for="checkbox" class="col-sm-3 control-label">Checkbox</label>
							<div class="col-sm-6">
								<div class="checkbox block"><label class="checkbox-inline icheck-label"><div class="icheckbox_minimal-blue" style="position: relative;"><input icheck="" type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> Unchecked</label></div>
								<div class="checkbox block"><label class="checkbox-inline icheck-label"><div class="icheckbox_minimal-blue checked" style="position: relative;"><input icheck="" type="checkbox" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> Checked</label></div>
								<div class="checkbox block"><label class="checkbox-inline icheck-label"><div class="icheckbox_minimal-blue disabled" style="position: relative;"><input icheck="" type="checkbox" disabled="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> Disabled Unchecked</label></div>
								<div class="checkbox block"><label class="checkbox-inline icheck-label"><div class="icheckbox_minimal-blue checked disabled" style="position: relative;"><input icheck="" type="checkbox" disabled="" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> Disabled Checked</label></div>
							</div>
						</div>
						<div class="form-group">
							<label for="selector1" class="col-sm-3 control-label">Multiple Select</label>
							<div class="col-sm-6">
								<select name="selector1" id="selector1" class="form-control">
									<option value="Lorem ipsum dolor sit amet.">Lorem ipsum dolor sit amet.</option>
									<option value="Dolore, ab unde modi est!">Dolore, ab unde modi est!</option>
									<option value="Illum, fuga minus sit eaque.">Illum, fuga minus sit eaque.</option>
									<option value="Consequatur ducimus maiores voluptatum minima.">Consequatur ducimus maiores voluptatum minima.</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="txtarea1" class="col-sm-3 control-label">Textarea</label>
							<div class="col-sm-6"><textarea name="txtarea1" id="txtarea1" cols="50" rows="4" class="form-control"></textarea></div>
						</div>
						<div class="form-group">
							<label for="radio" class="col-sm-3 control-label">Radio</label>
							<div class="col-sm-6">
								<div class="radio block"><label class="icheck-label"><div class="iradio_minimal-blue" style="position: relative;"><input icheck="" type="radio" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> Unchecked</label></div>
								<div class="radio block"><label class="icheck-label"><div class="iradio_minimal-blue checked" style="position: relative;"><input icheck="" type="radio" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> Checked</label></div>
								<div class="radio block"><label class="icheck-label"><div class="iradio_minimal-blue disabled" style="position: relative;"><input icheck="" type="radio" disabled="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> Disabled Unchecked</label></div>
								<div class="radio block"><label class="icheck-label"><div class="iradio_minimal-blue checked disabled" style="position: relative;"><input icheck="" type="radio" disabled="" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> Disabled Checked</label></div>
							</div>
						</div>

						<div class="form-group">
							<label for="smallinput" class="col-sm-3 control-label">Small Input</label>
							<div class="col-sm-6">
								<input type="text" class="form-control input-sm" id="smallinput" placeholder="Small Input">
							</div>
						</div>
						<div class="form-group">
							<label for="mediuminput" class="col-sm-3 control-label">Medium Input</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="mediuminput" placeholder="Medium Input">
							</div>
						</div>
						<div class="form-group">
							<label for="largeinput" class="col-sm-3 control-label">Large Input</label>
							<div class="col-sm-6">
								<input type="text" class="form-control input-lg" id="largeinput" placeholder="Large Input">
							</div>
						</div>

					</form>
				</tab>
				<tab heading="Groups">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.<br><br>Asperiores porro eveniet debitis quas sed harum nobis libero voluptatibus dolorum odio at veniam aut id corrupti hic esse quisquam fugiat. Asperiores in eveniet sapiente error fuga tenetur ex ea dignissimos voluptas ab molestiae eos totam quo dolorem maxime illo neque quia itaque.
				</tab>
				<tab heading="Categories">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.<br><br>Asperiores porro eveniet debitis quas sed harum nobis libero voluptatibus dolorum odio at veniam aut id corrupti hic esse quisquam fugiat. Asperiores in eveniet sapiente error fuga tenetur ex ea dignissimos voluptas ab molestiae eos totam quo dolorem maxime illo neque quia itaque.
				</tab>
				<tab heading="Sub-Categories">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.<br><br>Asperiores porro eveniet debitis quas sed harum nobis libero voluptatibus dolorum odio at veniam aut id corrupti hic esse quisquam fugiat. Asperiores in eveniet sapiente error fuga tenetur ex ea dignissimos voluptas ab molestiae eos totam quo dolorem maxime illo neque quia itaque.
				</tab>
				<tab heading="Fields">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.<br><br>Asperiores porro eveniet debitis quas sed harum nobis libero voluptatibus dolorum odio at veniam aut id corrupti hic esse quisquam fugiat. Asperiores in eveniet sapiente error fuga tenetur ex ea dignissimos voluptas ab molestiae eos totam quo dolorem maxime illo neque quia itaque.
				</tab>
			</tabset>
		</div>
	</div>
</div>
