<form novalidate angular-validator angular-validator-submit="saveAssessmentData(studentResult)" name="dataentry_form"  ng-controller="SectionStudentResultHRSIW2DataEntryController">
    <div id="page-heading">
        <ol class="breadcrumb">
            <li>Data Entry</li>
            <li>Classrooms</li>
            <li class="active">{{::assessment.AssessmentName}}</li>
        </ol>
        <h1><b>{{::studentResult.StudentName}}</b></h1>
        <div class="options">
            <div class="btn-toolbar">
                <print-button print-landscape="false" print-multi-page="false" fit-viewer-height="" fit-width="" html-viewer-height="" html-viewer-width="" stretch-to-fit=""></print-button>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <panel panel-class="panel-midnightblue" heading="{{assessment.AssessmentName}}">
            <div class="col-md-12 form-horizontal nsHeader">
                <div class="col-md-4">
                    <div class="row" ng-if="isInterventionMode == false">
                        <label class="col-md-6 control-label">
                            Benchmark Date
                        </label>
                        <div class="col-md-6 form-control-static">
                            <div class="col-md-2"><div style="border:1px solid black;width:20px;height:20px;background-color:{{filterOptions.selectedBenchmarkDate.Hex}}"></div></div><div class="col-md-10 ng-binding">{{filterOptions.selectedBenchmarkDate.text}} <i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-6 control-label" style="padding-top:15px;">
                            Recorder
                        </label>
                        <div class="col-md-6 form-control-static">
                            <input name="primaryteacher" id="primaryteacher" validator="validateRecorder()" ui-select2="getTeacherRemoteOptions" invalid-message="'Please select a Recorder'" required-message="'Please select a Recorder'" ng-model="studentResult.Recorder" required style="width: 100%" />
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-6 control-label"  style="padding-top:15px;">
                            Date Test Taken
                        </label>
                        <div class="col-md-6 form-control-static">
                            <div class="has-feedback">
                                <!--<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="studentResult.TestDate" is-open="popup1.opened" required invalid-message="Please enter a valid date" required-message="Please select a date" close-text="Close" />-->
                                <input style="cursor:pointer" type="text" name="pikaday" id="pikaday" class="form-control" picka-day ng-model="studentResult.TestDate" required invalid-message="Please enter a valid date" required-message="'Please select a date'" default-date="{{studentResult.TestDate}}" />
                                <i class="form-control-feedback fa fa-calendar"></i>
                                <!--<span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="formSettings.PickerDate.show()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row"  ng-repeat="field in totalFields">
                        <label class="col-md-6 control-label">
                            {{::field.DisplayLabel}}
                        </label>
                        <div class="col-md-6 form-control-static">
                            <assessment-edit-field-custom student-result="studentResult" groups="assessment.FieldGroups" fields="assessment.Fields" current-field="field"></assessment-edit-field-custom> / {{field.OutOfHowMany}}
                        </div>
                    </div>
                    <div class="row" ng-repeat="field in formFields">
                        <label class="col-md-6 control-label" style="padding-top:15px;">
                            {{::field.DisplayLabel}}
                        </label>
                        <div class="col-md-6 form-control-static">
                            <assessment-edit-field-custom student-result="studentResult" disabled="checkDisabledForm()" field-name="'hrsForm'" field-required="true" groups="assessment.FieldGroups" fields="assessment.Fields" current-field="field"></assessment-edit-field-custom>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row" ng-repeat="field in commentFields">
                        <label class="col-md-3 control-label">
                            {{::field.DisplayLabel}}
                        </label>
                        <div class="col-md-9 form-control-static">
                            <assessment-edit-field-custom student-result="studentResult" field-name="'comments'" groups="assessment.FieldGroups" fields="assessment.Fields" current-field="field"></assessment-edit-field-custom>
                        </div>
                    </div>
                </div>
            </div>
        </panel>

        <div class="row">
            <div class="col-md-12">
                <uib-alert ng-repeat="alert in errors" type="{{alert.type}}" close="closeAlert($index)"><span ng-bind-html="alert.msg | safe_html"></span></uib-alert>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-1"><b>100% Correct:</b></div><div class="col-md-1"> <switch class="green" ng-change="toggleAll()" ng-model="checkAll.checked"></switch></div>
                </div>
                <div class="col-md-12">

                    <div class="table-responsive">
                        <div class="col-sm-12">
                            <table class="table hrsiw">
                                <tbody>
                                    <tr ng-repeat="rowFieldsArray in rows">
                                        <td ng-repeat="field in rowFieldsArray" ng-class="{'shadedBg' : field.FieldType != 'Label'}">
                                            <assessment-edit-field-custom student-result="studentResult" current-field="field" orientation="'vertical'"></assessment-edit-field-custom>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>  Save</button>
                        <a ng-click="cancel()" class="btn btn-danger"><i class="fa fa-times"></i> Cancel</a>
                    </div>
                </div>
            </div>
    </div>
</form>

<style>
    /* styles for datetesttaken popupcalendar*/
    .form-horizontal .has-feedback .form-control-feedback {
    top: 10px;
}
    .dropdown-menu {
        min-width: 280px;
    }
    #wrap {
        min-height: 600px;
    }
    .panel-body {
     overflow-x: visible !important; 
}
        /* style for datetesttaken popupcalendar*/
    .nsHeader .control-label {
        font-weight: bold;
    }
    body {
        color: black;
    }
    .table.hrsiw > tbody > tr > td {
        padding: 3px 3px 3px 3px;
        width:35px;
        border: 1px white solid !important;
    }
    .verticalSwitchLabel {
        text-align: center;
        font-size: 16px;
        
    }
    .shadedBg {
        background-color: #e9ecf0;
    }
    .table > tbody > tr > td {
        border: 1px solid #e9ecf0;
    }

    .table > thead > tr > th {
        border-top: 1px solid #e9ecf0 !important;
        border-left: 1px solid #e9ecf0;
        border-right: 1px solid #e9ecf0;
    }

    .table > thead > tr > th {
        padding: 5px 5px;
    }

    .table > tbody > tr > td {
        padding: 3px 5px;
    }

    .panel-body {
        overflow-x: auto;
    }

    select.editable-input {
        padding: 0px 0px !important;
    }

    select.form-control {
        padding: 0px 0px !important;
    }

    .switch.checked small {
        left: 15px !important;
    }

    .switch small {
        width: 20px !important;
        height: 20px !important;
    }

    .switch {
        width: 35px !important;
        height: 20px !important;
    }

    .switchLabel {
        padding-left: 5px;
        font-size: 16px;
    }
</style>

<style>
    .select2-container > a.has-error {
        border-color: #D44950 !important;
    }

    form .ng-dirty.ng-invalid {
        color: #656B79 !important;
    }

    label.has-error {
        color: #D44950 !important;
    }
</style>
