<div class="verticalcenter" ng-controller="LoginController as vm">
    <a href="#/"><img src="assets/img/northstar_logo.png" alt="Logo" class="brand" /></a>
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <uib-alert ng-repeat="alert in errors" type="{{alert.type}}" close="closeAlert($index)"><span ng-bind-html="alert.msg | safe_html"></span></uib-alert>
                </div>
            </div>
            <h4 class="text-center" style="margin-bottom: 25px;">Log In</h4>
            <form action="#" class="form-horizontal">
                <div class="form-group">
                    <label for="email" class="control-label col-sm-4" style="text-align: left;">Email</label>
                    <div class="col-sm-8">
                        <input type="text" name="email" ng-enter="vm.login()" ng-model="vm.loginData.userName" required class="form-control" id="email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group" ng-if="vm.showAlternate() == true">
                    <label for="email" class="control-label col-sm-4" style="text-align: left;">Alternate</label>
                    <div class="col-sm-8">
                        <input type="text" name="email" ng-enter="vm.login()" ng-model="vm.loginData.alternate" class="form-control" id="alternate" placeholder="Alternate">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label col-sm-4" style="text-align: left;">Password</label>
                    <div class="col-sm-8">
                        <input type="password" name="password"  ng-enter="vm.login()" required ng-model="vm.loginData.password" class="form-control" id="password" placeholder="Password">
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left"><label><input type="checkbox" ng-model="vm.loginData.remember"> Remember Me</label></div>
                </div>
                <a class="btn btn-success btn-block" ng-click="vm.login()" >Log In</a>
            </form>
        </div>
        <div class="panel-footer">
            <a href="#/request-password-reset" class="pull-left btn btn-link" style="padding-left:0">Forgot password?</a>
        </div>
    </div>
</div>
