<div class="verticalcenter" ng-controller="StaffPasswordResetRequestController">
    <panel panel-class="panel-midnightblue" heading="Reset Your Password">

        <form action="#" class="form-horizontal" ng-if="!requestSent">
            <fieldset> 
                <alert ng-repeat="alert in errors" type="{{alert.type}}" close="closeAlert($index)"><span ng-bind-html="alert.msg | safe_html"></span></alert>
                <legend>Details</legend>
                <div class="form-group">
                    <label for="fieldname" class="col-md-3 control-label">What is your email address?</label>
                    <div class="col-md-6">
                        <input id="fieldname" class="form-control" name="name" type="text" required ng-model="userInfo.email" />
                    </div>
                </div>
            </fieldset>

            <button type="button" class="btn btn-success" ng-click="requestReset()"><i class="icon-plus"></i>Request Reset</button>
        </form>

        <div ng-if="requestSent">
            An email with instructions to reset your password was just sent to you..  Please check your email for details.
            <div>
                <a href="#/login">Back to Login Page</a>
            </div>
        </div>
    </panel>
</div> 