<form novalidate angular-validator angular-validator-submit="saveAssessmentData(studentResult)" name="dataentry_form" ng-controller="SectionStudentResultGenericDataEntryController">
    <div id="page-heading">
        <ol class="breadcrumb">
            <li>Data Entry</li>
            <li>Classrooms</li>
            <li class="active">{{assessment.AssessmentName}}</li>
        </ol>
        <h1><b>{{::studentResult.StudentName}}</b></h1>
    </div>

    <div class="container-fluid">
        <panel panel-class="panel-midnightblue" heading="{{assessment.AssessmentName}}">
            <div class="col-md-12 form-horizontal nsHeader">
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-md-6 control-label">
                            Benchmark Date
                        </label>
                        <div class="col-md-6 form-control-static">
                            <div class="col-md-2"><div style="border:1px solid black;width:20px;height:20px;background-color:{{filterOptions.selectedBenchmarkDate.Hex}}"></div></div><div class="col-md-10 ng-binding">{{filterOptions.selectedBenchmarkDate.text}} <i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-6 control-label" style="padding-top:15px;">
                            Recorder
                        </label>
                        <div class="col-md-6 form-control-static">
                            <input name="primaryteacher" id="primaryteacher" validator="validateRecorder()" ui-select2="getTeacherRemoteOptions" invalid-message="'Please select a Recorder'" required-message="'Please select a Recorder'" ng-model="studentResult.Recorder" required style="width: 100%" />
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-6 control-label" style="padding-top:15px;">
                            Date Test Taken
                        </label>
                        <div class="col-md-6 form-control-static">
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="studentResult.TestDate" is-open="popup1.opened" required invalid-message="Please enter a valid date" required-message="Please select a date" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </panel>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Field
                                </th>
                                <th>
                                    Value
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="fieldResult in studentResult.FieldResults">
                                <td>{{::fieldResult.Field.DisplayLabel }}</td>
                                <td ng-if="fieldResult.Field.FieldType != 'Textarea'">
                                    <ns-assessment-field mode="'readonly'" result="fieldResult" all-results="studentResult.FieldResults"></ns-assessment-field>
                                </td>
                                <td ng-if="fieldResult.Field.FieldType == 'Textarea'">
                                    <span ng-bind-html="fieldResult.StringValue | safe_html"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <button type="submit" class="btn btn-primary"><i class=" fa fa-save"></i>  Save</button>
                    <a ng-click="cancel()" class="btn btn-danger"><i class=" fa fa-times"></i> Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>

<style>
    .table > tbody > tr > td {
        border: 1px solid #e9ecf0;
    }

    .table > thead > tr > th {
        border-top: 1px solid #e9ecf0 !important;
        border-left: 1px solid #e9ecf0;
        border-right: 1px solid #e9ecf0;
    }

    .table > thead > tr > th {
        padding: 5px 5px;
    }

    .table > tbody > tr > td {
        padding: 3px 5px;
    }

    .panel-body {
        overflow-x: auto;
    }

    select.editable-input {
        padding: 0px 0px !important;
    }

    select.form-control {
        padding: 0px 0px !important;
    }

    .switch.checked small {
        left: 15px !important;
    }

    .switch small {
        width: 20px !important;
        height: 20px !important;
    }

    .switch {
        width: 35px !important;
        height: 20px !important;
    }

    .switchLabel {
        padding-left: 5px;
        font-size: 16px;
    }
</style>
