<div ng-controller="SpellingInventorySectionReportController">

    <div id="page-heading">
        <ol class="breadcrumb">
            <li>Spelling Inventory</li>
            <li class="active">Section Report</li>
        </ol>
        <h1 class="hidden-print">Classroom</h1>
        <div class="options">
            <div class="btn-toolbar">
                <print-button print-landscape="true" print-multi-page="false" sort-array="sortArray" fit-viewer-height="" fit-width="" html-viewer-height="1300" html-viewer-width="1900" stretch-to-fit=""></print-button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12 ng-scope" id="nsFilterOptions">
                    <ns-filter-options-container-directive benchmark-date-enabled="false" school-year-enabled="true" school-enabled="true" grade-enabled="true" teacher-enabled="true" section-enabled="true"></ns-filter-options-container-directive>
                </div>
                <div class="col-md-12">
                    <standard-report-header heading="dataMgr.assessment.AssessmentName + ' Section Report'" options="filterOptions"></standard-report-header>
                </div>
                <uib-tabset tab-theme="orange">
                    <uib-tab ng-repeat="tdd in filterOptions.benchmarkDates" active="tdd.active" ng-click="navigateToTdd(tdd.id)">
                        <uib-tab-heading>
                            <div class="row col"><div class="col-md-2"><div style="border:1px solid black;width:20px;height:20px;background-color:{{tdd.Hex}}"></div></div><div class="col-md-10">{{tdd.text}} <i class="fa fa-calendar"></i></div></div>
                        </uib-tab-heading>
                    </uib-tab>
                </uib-tabset>
                <table class="table table-bordered  table-striped">
                    <thead>
                        <tr>
                            <th colspan="2">Possible Points --></th>
                            <th class="nsCenterAlignedText" ng-repeat="header in dataMgr.HeaderFields">{{header.OutOfHowMany}}</th>
                        </tr>
                        <tr>
                            <th><div style="cursor: pointer" ng-click="sort('StudentName')">Students' Name <i class="{{manualSortHeaders.studentNameHeaderClass}}"></i></div></th>
                            <th class="nsCenterAlignedText"><div style="cursor: pointer" ng-click="sort('FPValueID')">Reading Level <i class="{{manualSortHeaders.fpValueIDHeaderClass}}"></i></div></th>
                            <th class="nsCenterAlignedText"><div style="cursor: pointer" ng-click="sort('FieldResults[0].IntValue')">Total Feature Points and Words <i class="{{manualSortHeaders.totalScoreHeaderClass}}"></i></div></th>
                            <th class="nsCenterAlignedText" ng-repeat="header in dataMgr.HeaderFields | filter: {DisplayLabel: '!Total Score'}"><div style="cursor: pointer" ng-click="sort($index)">{{header.DisplayLabel}} <i class="{{headerClassArray[$index]}}"></i></div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="studentResult in dataMgr.studentResults | orderBy:sortArray">
                            <td align="left"><span student-dashboard-link student-id="studentResult.StudentId" student-name="studentResult.StudentName"></span></td>
                            <td class="nsCenterAlignedText">
                                {{::studentResult.FPText}}
                            </td>
                            <td class="nsCenterAlignedText">
                                {{::totalFPAndWords(studentResult)}}
                            </td>
                            <td style="font-weight:bold;" class="nsCenterAlignedText" ng-class="::spellingCellBgColor(fieldResult)" ng-repeat="fieldResult in studentResult.FieldResults | filter: {DbColumn : '!totalScore'} | filter: {DbColumn : '!totalFP'} |  filter: {DbColumn : '!totalWSC'} " data-title="{{fieldResult.Field.DisplayLabel}}">
                                <ns-assessment-field result="fieldResult" all-results="studentResult.FieldResults" mode="'readonly'"></ns-assessment-field>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    .yellowbg {
        background-color: yellow !important;
        color: black;
        font-weight: bold;
    }

    .whitebg {
        color: black;
        font-weight: bold;
    }

    .bluebg {
        background-color: #4697ce !important;
        color: white;
        font-weight: bold;
    }
    .obsGreen {
        color: black;
    }
    .panel-heading h4 {font-weight: bold;}
</style>
<style>

    .vertical {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        white-space: nowrap;
        display: block;
        bottom: 0;
        width: 10px;
        height: 20px;
        font-size: 11px;
        font-weight: normal;
    }

    .verticalTd {
        height: 180px;
        padding-top: 8px;
        padding-left: 8px;
        vertical-align: top;
    }

    .leftDoubleBorder {
        border-left: 3px solid black !important;
    }

    .rightDoubleBorder {
        border-right: 3px solid black !important;
    }

    .nsWhiteCell {
        background-color: white !important;
    }

    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border: 1px solid black;
    }

    .table-bordered {
        border: 1px solid black;
    }
    .tab-container {
        margin-bottom: 4px;
    }
</style>
