
<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/staff-list">Manage Staff</a></li>
        <li class="active">Reset User's Password</li>
    </ol>
    <h1>Reset Another User's Password</h1>
</div>

<div class="container-fluid" ng-controller="StaffPasswordResetController">
    <div class="col-md-12" ng-if="settings.pageStatus == 'success'">
        <uib-alert type="success">User's Password has been successfully changed!</uib-alert>
    </div>
    <div class="col-md-12" ng-if="settings.pageStatus != 'success'">
        <ns-error-display></ns-error-display>
        <div style="clear:both"></div>
        <div class="col-md-12">

            <form name="pwdForm" class="form-horizontal" novalidate angular-validator angular-validator-submit="changePassword()">
                <panel panel-class="panel-midnightblue" heading="Modify Staff">
                    <p>Use this form to reset another user's password.</p>

                    <fieldset>
                        <legend>Details</legend>
                        <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">Email of User</label>
                            <div class="col-md-6">
                                <input id="fieldname" placeholder="Enter user's email address" class="form-control" name="name" type="text" required ng-model="userInfo.email" required-message="'Email address is required.'" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">Password</label>
                            <div class="col-md-6">
                                <input id="pwd"
                                       class="form-control"
                                       name="pws"
                                       type="password"
                                       placeholder="Enter new password"
                                       required
                                       required-message="'Password is required'"
                                       validator="passwordValidator(userInfo.pwd) === true"
                                       invalid-message="passwordValidator(userInfo.pwd)"
                                       validate-on="dirty"
                                       ng-model="userInfo.pwd" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">Confirm Password</label>
                            <div class="col-md-6">
                                <input id="confirm"
                                       class="form-control"
                                       name="confirm"
                                       type="password"
                                       placeholder="Re-type password"
                                       validator="userInfo.pwd === userInfo.confirm"
                                       validate-on="dirty"
                                       invalid-message="'Passwords do not match!'"
                                       required
                                       required-message="'Please confirm password'"
                                       ng-model="userInfo.confirm" />
                            </div>
                        </div>

                    </fieldset>
                </panel>

                <button type="submit" class="btn btn-primary"><i class="fa fa-lock"></i> Reset Password</button>
            </form>
        </div>

        </div>
    </div> 