
<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/student-list">Manage Students</a></li>
        <li class="active">Add / Edit Student</li>
    </ol>
    <h1>Add/Edit student</h1>

</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <ns-error-display></ns-error-display>
            <div style="clear:both"></div>

            <panel panel-class="panel-midnightblue" heading="Modify Student">

                <form novalidate angular-validator angular-validator-submit="savestudent()" name="student_form" class="form-horizontal" ng-controller="StudentEditController">
                    <uib-alert ng-repeat="alert in errors" type="{{alert.type}}" close="closeAlert($index)"><span ng-bind-html="alert.msg | safe_html"></span></uib-alert>
                    <fieldset>
                        <legend>Details</legend>
                        <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">First Name</label>
                            <div class="col-md-6">
                                <input id="firstname" class="form-control" name="firstname" type="text" placeholder="First Name" required-message="'First Name is required'" required ng-model="student.FirstName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">Middle Name</label>
                            <div class="col-md-6">
                                <input id="middlename" class="form-control" name="middlename" type="text" placeholder="Middle Name" ng-model="student.MiddleName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">Last Name</label>
                            <div class="col-md-6">
                                <input id="lastname" class="form-control" name="lastname" type="text" placeholder="Last Name" required-message="'Last Name is required'" required ng-model="student.LastName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">Student ID</label>
                            <div class="col-md-6">
                                <input id="studentid" 
                                       class="form-control" 
                                       name="studentid" 
                                       required-message="'Student ID is required'" 
                                       type="text" 
                                       placeholder="Student ID" 
                                       validate-on="dirty" 
                                       invalid-message="''" 
                                       ng-remote-validate2="{{remoteStudentIdValidationPath}}" 
                                       ng-remote-method="POST"
                                       ng-remote-throttle="500"
                                       required 
                                       ng-model="student.StudentIdentifier" />
                                <label ng-show="student_form.studentid.$error.ngRemoteValidate2" class="control-label has-error">This Student ID is already being used by another student</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fieldemail" class="col-md-3 control-label">Date of Birth</label>
                            <div class="col-md-6">
                                <div class="has-feedback">
                                    <input style="cursor:pointer;width:100%" type="text" name="pikaday" id="pikaday" class="form-control" picka-day ng-model="student.DOB" required invalid-message="Please enter a valid date" required-message="'Please select a date'" default-date="{{student.DOB}}" />
                                    <i class="form-control-feedback fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fieldurl" class="col-md-3 control-label">Graduation Year</label>
                            <div class="col-md-6">
                                <input id="gradyear" name="gradyear" class="form-control" type="number" data-low="2000" data-high="2100" placeholder="Graduation Year" ng-model="student.GraduationYear" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fieldurl" class="col-md-3 control-label">Enrollment Year</label>
                            <div class="col-md-6"><span class="form-control" style="font-weight:bold;border:none;">{{::student.EnrollmentYear}}</span></div>
                        </div>
                        <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">Active</label>
                            <div class="col-md-6">
                                <switch class="green" ng-model="student.IsActive"></switch>
                                <p class="help-block">Uncheck this to archive student</p>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>District Attributes</legend>
                        <div class="form-group" ng-repeat="attribute in allAttributes.AllAttributes">
                            <label for="fieldnick" class="col-md-3 control-label">{{::attribute.AttributeName}}</label>
                            <div class="col-md-6">
                                <select class="form-control" ng-model="student.StudentAttributes[attribute.Id]" ng-options="v.LookupValueId as v.LookupValue for v in attribute.LookupValues">
                                    <option value="">-select-</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Education Services</legend>
                        <div class="form-group">
                            <label for="fieldabout" class="col-md-3 control-label">Selected Services</label>
                            <div class="col-md-6"><div ui-select2="s2Options.StudentSpedLabelRemoteOptions" ng-model="student.SpecialEdLabels" style="width: 100%" /></div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>School Registrations</legend>
                        <div class="form-group">
                            <label for="fieldabout" class="col-md-3 control-label">Add New Registration</label>
                            <div class="col-md-2">
                                <div ng-model="settings.AddYear" ui-select2="s2Options.AllSchoolYearsRemoteOptions" />
                            </div>
                            <div class="col-md-2">
                                <div ng-model="settings.AddSchool" ui-select2="s2Options.SchoolsForUserRemoteOptions" />
                            </div>
                            <div class="col-md-2">
                                <div ng-model="settings.AddGrade" ui-select2="s2Options.AllGradesRemoteOptions" />
                            </div>
                            <div class="col-md-1"><a ng-click="addStudentToSchoolAndYear()" class="btn btn-primary">Add <i class="fa fa-plus"></i></a></div>
                        </div>
                        <div class="form-group">
                            <label for="fieldnick" class="col-md-3 control-label">Current Registrations</label>
                            <div class="col-md-9">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Remove Reg.</th>
                                            <th>Edit Reg.</th>
                                            <th>School Year</th>
                                            <th>School</th>
                                            <th>Grade</th>
                                            <th>Sections</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="registration in student.StudentSchools">
                                            <td>
                                                <a class="btn btn-danger btn-xs" ng-click="removeStudentSchool(registration)"><i class="fa fa-trash-o"></i> Remove</a>
                                            </td>
                                            <td>
                                                <a ng-if="!registration.editMode" class="btn btn-primary btn-xs" ng-click="edit(registration)"><i class="fa fa-pencil"></i> Edit</a>

                                                <span ng-if="registration.editMode">
                                                    <a class="btn btn-success btn-xs" ng-click="saveRegistration(registration, registration.newSchoolYear, registration.newSchool, registration.newGrade, student.StudentSchools, student.StudentId)"><i class="fa fa-save"></i> Save</a>
                                                    <a class="btn btn-default btn-xs" ng-click="registration.editMode = false"><i class="fa fa-times-circle"></i> Cancel</a>
                                                </span>
                                            </td>
                                            <td>
                                                <div ng-if="!registration.editMode">{{registration.SchoolYearLabel}}</div>
                                                <div ng-if="registration.editMode">
                                                    <div ng-model="registration.newSchoolYear" ui-select2="s2Options.AllSchoolYearsRemoteOptions" />
                                                </div>
                                            </td>
                                            <td>
                                                <div ng-if="!registration.editMode">{{registration.SchoolName}}</div>
                                                <div ng-if="registration.editMode">
                                                    <div ng-model="registration.newSchool" ui-select2="s2Options.SchoolsForUserRemoteOptions" />
                                                </div>
                                            </td>
                                            <td>
                                                <div ng-if="!registration.editMode">{{registration.GradeName}}</div>
                                                <div ng-if="registration.editMode">
                                                    <div ng-model="registration.newGrade" ui-select2="s2Options.AllGradesRemoteOptions" />
                                                </div>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-xs btn-orange" ng-click="showSectionsModal(registration)"><i class="fa fa-binoculars"></i> View Sections</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save student</button> <a href="#/student-list" class="btn btn-default"><i class="fa fa-times-circle"></i> Cancel</a> <a style="float:right" class="btn btn-danger" ng-click="deleteStudent()"><i class="glyphicon glyphicon-remove"></i> Delete Student</a>
                </form>
            </panel>
        </div>
    </div>
</div>
<script type="text/ng-template" id="studentSectionsModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Student Sections for {{::studentSchool.SchoolYearLabel}}</h3>
    </div>
    <div class="modal-body">
       <table class="table">
           <thead>
               <tr>
                   <th>
                       Section Name
                   </th>
                   <th>
                       Teacher
                   </th>
                   <th>
                       Number of Students
                   </th>
               </tr>
           </thead>
           <tbody>
               <tr ng-repeat="record in sections">
                   <td>
                       {{::record.SectionName}}
                   </td>
                   <td>
                       {{::record.TeacherName}}
                   </td>
                   <td>
                       {{::record.StudentCount}}
                   </td>
               </tr>
           </tbody>
       </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" id="formReset" type="reset" value="cancel" ng-click="cancel()"><i class="fa fa-times"></i> Close</button>
    </div>
</script>
<style>
    .select2-container > a.has-error {
        border-color: #D44950 !important;
    }

    form .ng-dirty.ng-invalid {
        color: #656B79 !important;
    }

    label.has-error {
        color: #D44950 !important;
    }

</style>