<div ng-controller="InterventionTierController">
    <div id="page-heading" class="ng-scope">

        <ol class="breadcrumb">
            <li>Intervention Toolkit</li>
        </ol>

        <h1>Intervention Toolkit</h1>

        <div class="options" ng-if="currentUser.IsPowerUser || currentUser.IsSA">
            <div class="btn-toolbar">
                <a href="#/intervention-detail/-1"> <i class="fa fa-plus"></i> Create New Intervention </a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" ng-repeat="tier in tiers">
                <a class="shortcut-tiles tiles-{{::tier.TierLabel}}" href="#/intervention-view-tier/{{::tier.TierValue}}">
                    <div class="tiles-body">
                        <div class="pull-left"><i class="fa fa-chevron-right"></i> Tier {{::tier.TierValue}}</div>
                        <div class="pull-right" style="font-size:13px;"><span class="badge">{{::tier.NumInterventions}}</span> Interventions Available</div>
                    </div>
                    <div class="tiles-footer">
                        {{::tier.Description}}
                    </div>
                </a>
            </div>

            <div class="col-md-12">
                <a class="shortcut-tiles tiles-inverse" href="#/view-mtsspages">
                    <div class="tiles-body">
                        <div class="pull-left"><i class="fa fa-cubes"></i> Multi-Tiered System of Support (MTSS) Overview</div>
                    </div>
                    <div class="tiles-footer">
                    </div>
                </a>
            </div>
        </div>


        <!--<img class="tierImg" id="Image-Maps-Com-image-maps-2014-04-23-213814" src="assets/img/tiertriangle.png" border="0" width="383" height="367" orgwidth="383" orgheight="367" usemap="#image-maps-2014-04-23-213814" alt="">
        <map name="image-maps-2014-04-23-213814" id="ImageMapsCom-image-maps-2014-04-23-213814">
            <area shape="rect" coords="381,365,383,367" alt="Image Map" style="outline:none;" title="Image Map" href="/images/tiertriangle.png">
            <area id="tier3" title="Tier 3" href="#/intervention-view-tier/3" shape="poly" coords="273,163,193,11,110,162" style="outline:none;" target="_self">
            <area id="tier2" title="Tier 2" href="#/intervention-view-tier/2" shape="poly" coords="64,251,108,167,278,167,322,251" style="outline:none;" target="_self">
            <area id="Area1" title="Tier 1" href="#/intervention-view-tier/1" shape="poly" coords="8,356,63,252,325,254,380,358" style="outline:none;" target="_self">
        </map>
        <table class="browseTiers">
            <tr ng-repeat="tier in tiers">
                <td style="background-color: {{::tier.TierColor }}" onclick="window.location.href = '#/intervention-view-tier/{{::tier.TierValue}}'">
                    {{::tier.Description}}
                </td>
            </tr>

        </table>-->
    </div>

</div>