
<div id="page-heading">
    <ol class="breadcrumb">
        <li>Personal Settings</li>
        <li class="active">Change Your Password</li>
    </ol>
    <h1>Change Your Password</h1>
</div>

<div class="container-fluid" ng-controller="PersonalPasswordChangeController">
    <div class="col-md-12" ng-if="settings.pageStatus == 'success'">
        <uib-alert type="success">Your Password has been successfully changed!</uib-alert>
    </div>
    <div class="col-md-12" ng-if="settings.pageStatus != 'success'">
        <div class="col-md-12">
            <uib-alert ng-repeat="alert in errors" type="{{alert.type}}" close="closeAlert($index)"><span ng-bind-html="alert.msg | safe_html"></span></uib-alert>
        </div>
        <div class="col-md-12">
            <form name="pwdForm" class="form-horizontal" novalidate angular-validator angular-validator-submit="changePassword()">

                <panel panel-class="panel-midnightblue" heading="Change Your Password">
                    <fieldset>
                        <legend>Use this form to change your password</legend>
                        <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">New Password</label>
                            <div class="col-md-6">
                                <input id="pwd" 
                                       class="form-control" 
                                       name="pws" 
                                       type="password" 
                                       placeholder="Enter new password" 
                                       required 
                                       required-message="'Password is required'" 
                                       validator="passwordValidator(userInfo.pwd) === true"
                                       invalid-message="passwordValidator(userInfo.pwd)"
                                       validate-on="dirty"
                                       ng-model="userInfo.pwd" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">Confirm New Password</label>
                            <div class="col-md-6">
                                <input id="confirm" 
                                       class="form-control" 
                                       name="confirm" 
                                       type="password" 
                                       placeholder="Re-type password" 
                                       validator="userInfo.pwd === userInfo.confirm"
                                       validate-on="dirty"
                                       invalid-message="'Passwords do not match!'"
                                       required 
                                       required-message="'Please confirm password'"
                                       ng-model="userInfo.confirm" />
                            </div>
                        </div>
                    </fieldset>
                </panel>
                <button type="submit" class="btn btn-primary"><i class="fa fa-lock"></i> Change Password</button>
            </form>
        </div>
    </div>
</div> 