<div id="page-heading">
    <ol class="breadcrumb">
        <li>Personal Settings</li>
        <li class="active">Personal Assessments</li>
    </ol>
    <h1>Manage Available Assessments for Yourself</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <panel panel-class="panel-midnightblue" heading="Available Assessments">
                <table class="table table-striped" ng-controller="PersonalAssessmentsController as vm">
                    <thead>
                        <tr>
                            <th>Show in Navigation?</th>
                            <th>Assessment Name</th>
                            <th>Assessment Type</th>
                            <th>Assessment Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="assessment in vm.dataManager.StaffAssessments">
                            <td><switch disabled="assessment.IsDisabled" title="{{::assessment.IsDisabled ? 'Disabled by your school or district' : ''}}" ng-model="assessment.AssessmentIsAvailable" ng-change="vm.saveAvailability(assessment)"></switch></td>
                            <td>{{::assessment.AssessmentName}}</td>
                            <td>
                                <div ng-if="assessment.TestType == 1">Benchmark Assessment</div>
                                <div ng-if="assessment.TestType == 2">Intervention Assessment</div>
                                <div ng-if="assessment.TestType == 3">State Test</div>
                            </td>
                            <td>{{::assessment.AssessmentDescription}}</td>
                        </tr>
                    </tbody>
                </table>
            </panel>
        </div>
    </div>
</div>
<style>
        .switch {
        width: 35px !important;
        height: 20px !important;
    }
            .switch.checked small {
        left: 15px !important;
    }

    .switch small {
        width: 20px !important;
        height: 20px !important;
    }

    .switchLabel {
        padding-left: 5px;
        font-size: 16px;
    }
</style>