		<div id="page-heading">
			<ol class="breadcrumb">
				<li><a href="#/">Home</a></li>
				<li class="active">Error</li>
			</ol>

			<h1>Error</h1>
		</div>
		<div class="container-fluid">

			<div class="row">
				<div class="col-md-12">
					<p class="text-center">
						<span class="text-danger" style="font-size:4em;">Sorry</span>
					</p>
					<p class="text-center">An error has occurred while processing your request.</p>
					<p class="text-center">We are looking into the issue. Please try again later.</p>
				</div>
			</div>

		</div> <!-- container -->
