<div id="page-heading">
    <ol class="breadcrumb">
        <li>Dashboards</li>
        <li class="active">Intervention Dashboard</li>
    </ol>
    <h1>Intervention Dashboard</h1>
    <div class="options">
        <div class="btn-toolbar">
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-default dropdown-toggle">
                    Export as <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <a href="#" class="btn btn-default hidden-xs"><i class="fa fa-cog"></i></a>
        </div>
    </div>
</div>
<div class="container-fluid" ng-controller="InterventionDashboardController">

    <div class="row">
        <div class="col-md-12">

            <div class="col-md-12 ng-scope">
                <ns-filter-options-container-directive school-year-enabled="true" school-enabled="true" interventionist-enabled="true" intervention-group-enabled="true" student-enabled="true" stint-enabled="true"></ns-filter-options-container-directive>
            </div>

            <div class="col-md-12" ng-if="filterOptions.selectedStudent != null">
                <uib-tabset justified="true">
                    <uib-tab>
                        <uib-tab-heading>
                            <i class="fa fa-user"></i> Attendance and Notes
                        </uib-tab-heading>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <highchart id="chart1" config="pieMgr.chartConfig"></highchart>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-12" ng-repeat="type in dashMgr.NotesGroupedByType | filter: { AttendanceStatus : pieMgr.settings.selectedStatus || undefined }">
                                    <h4 class="timeline-month"><span>{{::type.AttendanceStatus}}</span>  <small>({{::type.StintNotes.length}}) Notes</small></h4>
                                    <ul class="timeline">
                                        <li class="timeline-primary" ng-repeat="note in type.StintNotes">
                                            <div class="timeline-icon"><i class="fa fa-user"></i></div>
                                            <div class="timeline-body">
                                                <div class="timeline-header">
                                                    <span class="date">{{::note.AttendanceDate | nsLongDateFormatWithTime}}</span>
                                                </div>
                                                <div class="timeline-content">
                                                    <h3>{{::note.Recorder.FirstName}} {{::note.Recorder.LastName}} said:</h3>
                                                    <p>
                                                        <div ng-bind-html="note.Notes | safe_html"></div>
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab>
                        <uib-tab-heading>
                            <i class="fa fa-bar-chart-o"></i> Progress Monitoring Line Graphs
                        </uib-tab-heading>
                        <div>
                            <panel panel-class="panel-primary" heading="Line Graph" ng-repeat="fieldMgr in ClassLineGraphDataManagers">
                                <div class="col-md-12">
                                    <div>
                                        <highchart id="chart1" config="pieMgr.chartConfig"></highchart>
                                    </div>
                                    <div>
                                        <line-graph-detail data-data-manager="fieldMgr"></line-graph-detail>
                                    </div>
                                </div>
                            </panel>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>

    </div>
</div>
<style>

</style>
<style>
    .table > tbody > tr > td {
        border: 1px solid #e9ecf0;
    }

    .table > thead > tr > th {
        border-top: 1px solid #e9ecf0 !important;
        border-left: 1px solid #e9ecf0;
        border-right: 1px solid #e9ecf0;
    }

    .table > thead > tr > th {
        padding: 5px 5px;
    }

    .table > tbody > tr > td {
        padding: 3px 5px;
    }

    .panel-body {
        overflow-x: auto;
    }

    select.editable-input {
        padding: 0px 0px !important;
    }

    select.form-control {
        padding: 0px 0px !important;
    }

    .timeline-month {
        width: 100%;
        margin-top: 25px;
        margin-bottom: 25px;
        text-align: left;
        font-weight: 700;
        font-size: 19px;
    }

    .timeline > li .timeline-header span.author {
        float: right;
        font-size: 12px;
        display: block;
    }

    h4 small {
        color: #777;
    }
</style>
<script type="text/javascript">CKEDITOR.basePath=document.location.origin+document.location.pathname+'assets/plugins/form-ckeditor/'</script>